<button class="button is-black">
    <i class="ri-add-fill"></i>
</button>

<table class="table is-bordered is-striped is-fullwidth">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Direccion</th>
            <th>Ciudad</th>
            <th>Estado</th>
            <th>C.P</th>
            <th>Fecha de Nacimiento</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuarios">
            <td>{{ usuario.Id }}</td>
            <td>{{ usuario.Nombre }}</td>
            <td>{{ usuario.Apellidos }}</td>
            <td>{{ usuario.Direccion }}</td>
            <td>{{ usuario.Ciudad }}</td>
            <td>{{ usuario.Estado }}</td>
            <td>{{ usuario.Cp }}</td>
            <td>{{ usuario.Fechanacimiento }}</td>
            <td>
                
            </td>
        </tr>
    </tbody> 
</table>
