<button class="button is-black">
    <i class="ri-add-fill"></i>
</button>

<table class="table is-bordered is-striped is-fullwidth">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Direccion</th>
            <th>Ciudad</th>
            <th>Estado</th>
            <th>C.P</th>
            <th>Fecha de Nacimiento</th>
        </tr>
    </thead>
    <!-- <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody> -->
</table>
